
    <link rel="stylesheet" href="styles/nav.css">
<div class="nav">
{{menu}}
</div>
<iframe id="viewport" sandbox="allow-same-origin allow-scripts" src="http://localhost:8001/PUBLIC/base/a/a.html"></iframe>

<script type="text/javascript">
  function iframechange(url){
    document.getElementById('viewport').src = url;
  }
</script>
